<h1>Expériences</h1>
<div class="bloc">
  <ul>
    <li>
      SNCF (2019-2020)
      <ul>
        <li>Développement d'application client lourd en JAVA FX</li>
        <li>Utilisation du modèle Colonie de fourmi et Recuit simulé</li>
      </ul>
    </li>
    <li>
      BERGER-LEVRAULT (2020-2022)
      <ul>
        <li>
          Développement d'un client lourd en Electron chargé d'effectuer des traitements ETL
        </li>
        <li>Développement d'applications web Springboot/Angular et JSF</li>
      </ul>
    </li>
    <li>
      COPERBEE (2022)
      <ul>
        <li>Développeur JAVA</li>
      </ul>
    </li>
  </ul>
  <div class="line"></div>
</div>
