ul {
  margin: auto;
  font-size: larger;
  list-style: none;
  margin-left: -20px;
}

#longArrow {
  margin-top: 20px;
  margin-left: 20px;
  width: 20px;
  height: 120px;
}

#longArrow2 {
  margin-top: 20px;
  margin-left: 20px;
  width: 20px;
  height: 140px;
}
