<h1>Compétences</h1>
<h2>Langages</h2>
<div class="row">
    <img id="longArrow" src="../../assets/long-arrow-top-icon.png" >
  <ul>
    <li>JAVA</li>
    <li>HTML, CSS, JS</li>
    <li>Type script</li>
    <li>C#</li>
    <li>Python</li>
  </ul>
</div>

<h2>Frameworks</h2>
<div class="row">
    <img id="longArrow2" src="../../assets/long-arrow-top-icon.png" >
    <ul>
        <li>Angular</li>
        <li>Springboot, Spring, Hibernate</li>
        <li>JavaFX</li>
        <li>Android</li>
        <li>Monogame</li>
    </ul>
</div>
