.container {
    background-color: #404040;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    margin-top: -1%;
}

.navbar {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    color: white;
    background-color: #222222;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    overflow: hidden;
    top:0;
}

.navbar img {
    width: 5%;
    margin: 1px 0 1px 10px;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
    margin-right: 5%;
    gap: 5px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover{
    font-style: italic;
    color: #a900d3;
    cursor: pointer;
    text-decoration: underline;
}

.bloc{
    margin: auto;
}