<h1>Formations</h1>

<div class="bloc">
  <div class="line"></div>
  <ul>
    <li>
      Baccalauréat économique et social
      <ul>
        <li>Spécialité science politique</li>
      </ul>
    </li>
    <li>
      Licence administration économique et social
      <ul>
        <li>Economie, gestion et droit</li>
      </ul>
    </li>
    <li>
      Master MIAGE Ingénierie des processus métier
      <ul>
        <li>Management et stratégie d'entreprise</li>
        <li>Développement d'application web, client lourd et de bases de données</li>
        <li>Décisionnel</li>
        <li>Big data</li>
      </ul>
    </li>
  </ul>
</div>
